<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.hta.mapper.UserMapper">

	<resultMap type="User" id="UserResultMap">
		<id column="user_id" property="id"/>
		<result column="user_email" property="email"/>
		<result column="user_password" property="password"/>
		<result column="user_name" property="name"/>
		<result column="user_phone" property="phone"/>
		<result column="user_profile_image" property="profileImage"/>
		<result column="user_disabled" property="disabled"/>
		<result column="user_teacher" property="teacher"/>
		<result column="user_created_date" property="createdDate"/>
		<result column="user_updated_date" property="updatedDate"/>
	</resultMap>

	<!-- User getUserByEmail(String email); -->
	<select id="getUserByEmail" parameterType="string" resultMap="UserResultMap">
		select user_id, user_email, user_password, user_name, user_phone, user_profile_image,
				user_disabled, user_teacher, user_created_date, user_updated_date
		from online_users
		where user_email = #{value}
	</select>
	
	<!-- User getUserById(String id); -->
	<select id="getUserById" parameterType="string" resultMap="UserResultMap">
		select user_id, user_email, user_password, user_name, user_phone, user_profile_image,
				user_disabled, user_teacher, user_created_date, user_updated_date
		from online_users
		where user_id = #{value}
	</select>

	<!-- void insertUser(User user); -->
	<insert id="insertUser" parameterType="User">
		insert into online_users (user_id, user_email, user_password, user_name, user_phone, user_profile_image)
		values (#{id}, #{email}, #{password}, #{name}, #{phone}, #{profileImage})
	</insert>

	<!-- void updateUser(User user); -->
	<update id="updateUser" parameterType="kr.co.hta.vo.User">
		update online_users
		set
			user_password = #{password},
			user_name = #{name},
			user_phone = #{phone},
			user_profile_image = #{profileImage},
			user_disabled = #{disabled},
			user_teacher = #{teacher},
			user_updated_date = sysdate
		where user_id = #{id}
	</update>

</mapper>